{% extends "main.html" %}
{% load url from future %}
{% load timetable %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}css/south-street/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block extra_js %}
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
    <script language="javascript" type="text/javascript">
    	$(document).ready(function() {
        	$('.timetable_buttons').button();
            $('#hide').hide();
            $('#hide').click(function() {
                    $('.timetable_div').hide('slow');
                    $('.timetable_buttons').toggle();
            });
            $('#show').click(function() {
                    $('.timetable_div').show('slow');
                    $('.timetable_buttons').toggle();
            });
        });
    </script>
{% endblock %}

{% block content_title %}<a href="{{ project.get_absolute_url }}">{{ project.name }}</a>{% endblock %}

{% block content %}
	<p>{{ project.description }}</p>
	{% if project.reports.all %}<p><a href="{% url 'reports-list' project.slug %}">See reports list</a></p>{% endif %}
	<br /><br />
    <h4>Timetable</h4>
    <button class="timetable_buttons" id="show">Show timetable</button>
    <button class="timetable_buttons" id="hide">Hide timetable</button>
    <div class="timetable_div">
    <br />
    {% timetable elements_list %}
    <br />
    </div>
    <br />
    <br />
    <h4>Iterations</h4>
    <table cellspacing="0" border="1" class="objects_list">
        <tr><th>Name</th><th>Description</th><th>State</th></tr>
        {% for iteration in iterations %}
        <tr>
            <td><a href="{{ iteration.get_absolute_url }}">{{ iteration.name }}</a></td>
            <td style="text-align: left;">{{ iteration.description|safe }}</td>
            <td>{{ iteration.state }}</td>
        </tr>
        {% endfor %}
    </table>
    <br />
    <h4>Documents</h4>
    <table cellspacing="0" border="1" class="objects_list">
        <tr><th>Name</th><th>Last Version</th></tr>
        {% for document in documents %}
        <tr>
            <td><a href="#">{{ document.name }}</a></td>
            <td>{{ document.last_version }} - <a href="{{ document.last_version.file.url }}">Download</a></td>
        </tr>
        {% endfor %}
    </table>
    <br />
	<h4>Project actors</h4>
	<table cellspacing="0" border="1" class="objects_list">
		<tr><th>Name</th><th>Project Roles</th><th>Business Roles</th></tr>
		{% for actor in actors %}
		<tr>
			<td><a href="{{ actor.get_absolute_url }}">{{ actor.full_name }}</a></td>
			<td>{{ actor.full_project_roles }}</td>
			<td>{{ actor.full_business_roles }}</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}

{% block contextual_actions_menu %}
    <li><a href="{% url 'home' %}" title="Home"><img id="home_icon" src="{{ STATIC_URL }}img/home_icon.png" alt="Home" height="11px" width="11px" /> Home</a></li>
	<li><a href="{% url 'logout' %}">Déconnexion</a></li>
	{% if user.is_staff %}
	<li><a href="/admin/" target="_blank">Administration</a></li>
	{% endif %}		
{% endblock %}
